In [1]:
import pandas as pd

In [3]:
sal=pd.read_csv('pandas_tut/dataset/mlbsalaries.csv')

In [4]:
sal.head()

   Year           Player   Salary           Position                Team
0  1988        Mike Witt  1400000            Pitcher  Los Angeles Angels
1  1988  George Hendrick   989333         Outfielder  Los Angeles Angels
2  1988      Chili Davis   950000         Outfielder  Los Angeles Angels
3  1988    Brian Downing   900000  Designated Hitter  Los Angeles Angels
4  1988        Bob Boone   883000            Catcher  Los Angeles Angels

In [5]:
sal.Year.unique()

array([1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011], dtype=int64)

In [7]:
sal.Year.value_counts()

1990    972
1999    919
2008    858
2001    857
2002    849
2007    848
1998    846
2011    843
2000    843
2004    833
2005    831
2010    828
2003    826
2006    823
2009    818
1995    805
1993    786
1997    773
1996    768
1992    753
1994    748
1991    720
1989    710
1988    686
Name: Year, dtype: int64

In [11]:
s=sal[sal.Year==2010]
s

       Year              Player    Salary        Position                Team
17872  2010        Torii Hunter  18500000      Outfielder  Los Angeles Angels
17873  2010         Bobby Abreu   9000000      Outfielder  Los Angeles Angels
17874  2010       Brian Fuentes   9000000         Pitcher  Los Angeles Angels
17875  2010        Scott Kazmir   8000000         Pitcher  Los Angeles Angels
17876  2010        Joel Pineiro   8000000         Pitcher  Los Angeles Angels
17877  2010       Hideki Matsui   6000000      Outfielder  Los Angeles Angels
17878  2010       Ervin Santana   6000000         Pitcher  Los Angeles Angels
17879  2010     Fernando Rodney   5500000         Pitcher  Los Angeles Angels
17880  2010        Scot Shields   5350000         Pitcher  Los Angeles Angels
17881  2010        Jered Weaver   4265000         Pitcher  Los Angeles Angels
17882  2010         Juan Rivera   4250000      Outfielder  Los Angeles Angels
17883  2010        Joe Saunders   3700000         Pitcher  Los Angeles Angels
17884  2010         Mike Napoli   3600000         Catcher  Los Angeles Angels
17885  2010      Maicer Izturis   2766666       Shortstop  Los Angeles Angels
17886  2010         Erick Aybar   2050000       Shortstop  Los Angeles Angels
17887  2010      Howie Kendrick   1750000  Second Baseman  Los Angeles Angels
17888  2010         Jeff Mathis   1300000         Catcher  Los Angeles Angels
17889  2010     Kendrys Morales   1200000   First Baseman  Los Angeles Angels
17890  2010      Reggie Willits    625000      Outfielder  Los Angeles Angels
17891  2010        Brian Stokes    435000         Pitcher  Los Angeles Angels
17892  2010          Jon Palmer    420000         Pitcher  Los Angeles Angels
17893  2010        Jason Bulger    418000         Pitcher  Los Angeles Angels
17894  2010        Kevin Jepsen    415000         Pitcher  Los Angeles Angels
17895  2010        Brandan Wood    410000       Shortstop  Los Angeles Angels
17896  2010         Terry Evans    405000      Outfielder  Los Angeles Angels
17897  2010          Ryan Budde    402200         Catcher  Los Angeles Angels
17898  2010       Robert Wilson    402000         Catcher  Los Angeles Angels
17899  2010      Anthony Ortega    400000         Pitcher  Los Angeles Angels
17900  2010        Chris Pettit    400000      Outfielder  Los Angeles Angels
17901  2010          Carlos Lee  19000000      Outfielder      Houston Astros
...     ...                 ...       ...             ...                 ...
18670  2010      Gordon Beckham    445000  Second Baseman   Chicago White Sox
18671  2010          Jayson Nix    420000  Second Baseman   Chicago White Sox
18672  2010    Randall Williams    415000         Pitcher   Chicago White Sox
18673  2010          Donny Lucy    400000         Catcher   Chicago White Sox
18674  2010       Sergio Santos    400000         Pitcher   Chicago White Sox
18675  2010      Alex Rodriguez  33000000   Third Baseman    New York Yankees
18676  2010         CC Sabathia  24285714         Pitcher    New York Yankees
18677  2010         Derek Jeter  22600000       Shortstop    New York Yankees
18678  2010       Mark Teixeira  20625000   First Baseman    New York Yankees
18679  2010        A.J. Burnett  16500000         Pitcher    New York Yankees
18680  2010      Mariano Rivera  15000000         Pitcher    New York Yankees
18681  2010        Jorge Posada  13100000         Catcher    New York Yankees
18682  2010       Andy Pettitte  11750000         Pitcher    New York Yankees
18683  2010      Javier Vazquez  11500000         Pitcher    New York Yankees
18684  2010       Robinson Cano   9000000  Second Baseman    New York Yankees
18685  2010        Nick Swisher   6850000      Outfielder    New York Yankees
18686  2010   Curtis Granderson   5500000      Outfielder    New York Yankees
18687  2010        Nick Johnson   5500000   First Baseman    New York Yankees
18688  2010        Damaso Marte   4000000         Pitcher    New York Yankees
18689  2010        Chan Ho Park   1200000         Pitcher    New York Yankees
18690  2010          Randy Winn   1100000      Outfielder    New York Yankees
18691  2010       Marcus Thames    900000      Outfielder    New York Yankees
18692  2010        Sergio Mitre    850000         Pitcher    New York Yankees
18693  2010    Joba Chamberlain    487975         Pitcher    New York Yankees
18694  2010       Brett Gardner    452500      Outfielder    New York Yankees
18695  2010         Phil Hughes    447000         Pitcher    New York Yankees
18696  2010      Alfredo Aceves    435650         Pitcher    New York Yankees
18697  2010     David Robertson    426650         Pitcher    New York Yankees
18698  2010         Ramiro Pena    412100       Infielder    New York Yankees
18699  2010  Francisco Cervelli    410800         Catcher    New York Yankees

[828 rows x 5 columns]

In [13]:
s.sort_values(by='Player').head()

       Year           Player    Salary Position                  Team
18679  2010     A.J. Burnett  16500000  Pitcher      New York Yankees
18655  2010  A.J. Pierzynski   6750000  Catcher     Chicago White Sox
18540  2010       Aaron Cook   9625000  Pitcher      Colorado Rockies
18484  2010     Aaron Harang  12500000  Pitcher       Cincinnati Reds
18108  2010    Aaron Heilman   2150000  Pitcher  Arizona Diamondbacks

In [17]:
s.sort_index(axis=1).head()

              Player    Position    Salary                Team  Year
17872   Torii Hunter  Outfielder  18500000  Los Angeles Angels  2010
17873    Bobby Abreu  Outfielder   9000000  Los Angeles Angels  2010
17874  Brian Fuentes     Pitcher   9000000  Los Angeles Angels  2010
17875   Scott Kazmir     Pitcher   8000000  Los Angeles Angels  2010
17876   Joel Pineiro     Pitcher   8000000  Los Angeles Angels  2010

In [28]:
s.Salary.sort_values(ascending=False).head()

18675    33000000
18676    24285714
18677    22600000
18678    20625000
18263    20144707
Name: Salary, dtype: int64

In [29]:
m=s.sort_values(by='Salary',ascending=False).head()

In [30]:
m[['Player','Salary']]

               Player    Salary
18675  Alex Rodriguez  33000000
18676     CC Sabathia  24285714
18677     Derek Jeter  22600000
18678   Mark Teixeira  20625000
18263   Johan Santana  20144707

In [32]:
s.loc[m.index,['Player','Salary']]

               Player    Salary
18675  Alex Rodriguez  33000000
18676     CC Sabathia  24285714
18677     Derek Jeter  22600000
18678   Mark Teixeira  20625000
18263   Johan Santana  20144707

In [34]:
#Calculate top salaries and player name of every year.