In [1]:
import pandas as pd
import numpy as np

In [2]:
chip=pd.read_csv("pandas_tut/dataset/chips.tsv",sep="\t")

In [3]:
chip.shape

(4622, 5)

## How many products cost more than $10.00?

In [4]:
chip.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [5]:
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [11]:
chip.sort_values(by="item_name",ascending=True,axis=0).head()

      order_id  quantity          item_name choice_description item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]    $12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1849       749         1  6 Pack Soft Drink             [Coke]     $6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]     $6.49
2713      1076         1  6 Pack Soft Drink             [Coke]     $6.49

In [14]:
chip[chip.item_name=="Veggie Salad Bowl"].shape

(18, 5)

In [43]:
len(chip[(chip.item_name=="Canned Soda") & (chip.quantity>1)])

20

In [19]:
chip.item_price=chip.item_price.str.replace("$"," ")
chip.item_price.head()

0      2.39
1      3.39
2      3.39
3      2.39
4     16.98
Name: item_price, dtype: object

In [22]:
chip.item_price=chip.item_price.str.replace(" ","")       #strip()can also be used to vanish the white spaces
chip.item_price.head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: object

In [23]:
chip.item_price[1]

'3.39'

In [32]:
def convert(X):
    return float(X)

chip.item_price=chip.item_price.apply(convert)

In [33]:
chip.item_price[1]

3.3900000000000001

In [37]:
chip[chip.item_price>10.00].shape

(1130, 5)

In [42]:
chip_new=chip.drop_duplicates(['item_name'])
chip_quantity_one=chip_new[chip_new.quantity==1]
chip_quantity_one[['item_name','item_price']].sort_values('item_price').head()

                        item_name  item_price
34                  Bottled Water        1.09
263             Canned Soft Drink        1.25
6                   Side of Chips        1.69
40                          Chips        2.15
0    Chips and Fresh Tomato Salsa        2.39

In [44]:
chip.loc[[chip.item_price.argmax()],:]      #finding quantity of the most expensive item

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [47]:
chip.quantity[chip.item_price==chip.item_price.max()]

3598    15
Name: quantity, dtype: int64