In [1]:
import pandas as pd
import numpy as np

In [2]:
fname='assignment.xlsx'

In [3]:
master=pd.read_excel(fname)

In [4]:
master.head()

,DISTRICT NAME,MANDAL NAME,VILLAGE NAME,SCHOOL UDISE CODE,SCHOOL NAME,ADDRESS,AREA,SCHOOL CATEGORY,SCHOOL MANGEMENT,Enrolment
0,SRIKAKULAM,VEERAGHATTAM,KADAKELLA,28110100101,MPPS KADAKELLA,KADAKELLA-KADAKELLA (VILL)-KADAKELLA(VILL)-VEE...,RURAL,1-Primary,33-MPP_ZPP SCHOOLS,54
1,SRIKAKULAM,VEERAGHATTAM,KAMBARA,28110100201,CBMAPS KAMBARA,KAMBARA-KAMBARA (VILL)-KAMBARA(VILL)-VEERAAGHA...,RURAL,1-Primary,35-Pvt.Aided,18
2,SRIKAKULAM,VEERAGHATTAM,KAMBARA,28110100203,MPUPS KAMBARA,KAMBARA-KAMBARA (VILL)-KAMBARA(VILL)-VEERAAGHA...,RURAL,2-Primary with Upper Primary,33-MPP_ZPP SCHOOLS,80
3,SRIKAKULAM,VEERAGHATTAM,KAMBARA,28110100204,ZPHS KAMBARA VALASA,KAMBARA VALASA-NADUKURU-KAMBARA(VILL)-VEERAAGH...,RURAL,7-Upper Pr. and Secondary,33-MPP_ZPP SCHOOLS,146
4,SRIKAKULAM,VEERAGHATTAM,DASUMANTHA PURAM,28110100301,MPUPS DASUMANTHAPURAM,DASUMANTHA PURAM-DASUMANTHA PURAM (VILL)-DASUM...,RURAL,2-Primary with Upper Primary,33-MPP_ZPP SCHOOLS,108

In [5]:
master.dtypes

DISTRICT NAME        object
MANDAL NAME          object
VILLAGE NAME         object
SCHOOL UDISE CODE     int64
SCHOOL NAME          object
ADDRESS              object
AREA                 object
SCHOOL CATEGORY      object
SCHOOL MANGEMENT     object
Enrolment             int64
dtype: object

In [6]:
data=pd.read_excel(fname,sheetname='DATA Sheet')

In [7]:
data.head()

,District,Mandal,School UDISE Code,School Name,Enrollment
0,Krishna,Chandarlapadu,28160501304,ZPHS Thotaravulapadu,NaN
1,Guntur,Amthurhaluru,28174900107,SKV HIGH SCHOOL KUCHIPUDI,NaN
2,Guntur,Amthurhaluru,28132102101,MPPS GOVADA,NaN
3,Guntur,Amthurhaluru,28174900102,MPPS NTR ROAD,NaN
4,Guntur,Ponnur,28174801906,ZPHS NANDURU,NaN

In [8]:
data.dtypes

District              object
Mandal                object
School UDISE Code      int64
School Name           object
Enrollment           float64
dtype: object

In [ ]:
data=data.fillna({
    'District':'none',
    'Mandal':'none',
    'School UDISE Code':0
    'School Name':'none',
    'Enrollment':master[master.]['Enrolment']
})
data