# Handling missing values

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.tail()

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [4]:
ufo.isnull().tail()

        City Colors Reported Shape Reported  State   Time
18236  False            True          False  False  False
18237  False            True          False  False  False
18238  False            True           True  False  False
18239  False           False          False  False  False
18240  False            True          False  False  False

In [5]:
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [7]:
ufo[ufo.isnull()].tail()

      City Colors Reported Shape Reported State Time
18236  NaN             NaN            NaN   NaN  NaN
18237  NaN             NaN            NaN   NaN  NaN
18238  NaN             NaN            NaN   NaN  NaN
18239  NaN             NaN            NaN   NaN  NaN
18240  NaN             NaN            NaN   NaN  NaN

In [8]:
ufo.dropna(how='any').shape

(2486, 5)

In [9]:
ufo.dropna(how='all').shape

(18241, 5)

In [ ]:
ufo.dropna(subset=['City','Shape Reported'],how='all').shape

In [ ]:
ufo['Shape Reported'].fillna(value='VARIOUS',inplace=True)

In [ ]:
ufo['Shape Reported'].value_counts(dropna=False)